{% extends "formbs.html" %}
{% block extraheading %}
    <script>

        $(function () {
            $("#id_codigo, #id_descripcion, #id_unidadmedida, #id_tipoproducto, #id_alias, #id_pvp").addClass("validate[required]");
            $("#id_codigo, #id_pvp").addClass("input-small");
            $("#id_codigobarra, #id_unidadmedida").addClass("input-medium");
            $("#id_tipoproducto, #id_alias").addClass("input-xlarge");

            $("#id_tipoproducto").change(function(){
                var tipoid = $(this).val();
                $.post("/productos", {"action":"actualizacodigoprod", "tipoid":tipoid}, function(data){
                    if (data.result=='ok'){
                        $("#id_codigo").val(data.nuevocodigo);
                    }else{
                        alert("Error calculating new product code");
                    }
                }, 'json');
                return false;
            });
        });

    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formwidth %}form-m{% endblock %}
{% block formaction %}/productos{% endblock %}
{% block formdestination %}/productos{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='add'/>
{% endblock %}
{% block formback %}/productos{% endblock %}